################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MC/MC_PLAN-TS/ClassLibrary1/obj/Debug/net5.0
